.layoutContainer {
    width: 85%;
    min-height: 80vh;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border-radius: 40px;
    margin: 40px auto;
    padding: 50px;
    background-color: var(--gray-3);
}

.layoutContainer h2 {
    font-family: 'Aricum Variable Concept';
    font-size: 30px;
    margin: 0 0 0 20px;
    font-weight: bold;
}

.layoutContainer hr {
    width: 100%;
    height: 0;
    border: 2px black solid;
    margin: 10px  0;
}

.layoutContainer .cards {
    padding: 30px 0 0 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}