*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Aricum Variable Concept';
  src: url(./fonts/AcuminVariableConcept.otf);
}

body {
  margin: 0;
  font-family: 'Aricum Variable Concept';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root {
  --pantone-1: #8E73D8;
  --pantone-2: #1F0459;
  --gray-1: #E6E6E6;
  --gray-2: #808080;
  --gray-3: #F2F2F2;
  --gray-4: #666666;

  /* Color Select */

  --color-1: #8E73D8;
  --color-2: #1F0459;
  --color-3: #0D0126;
  --color-4: #9305F2;
  --color-5: #3FA9F5;
  --color-6: #7AC943;
  --color-7: #FF1D25;

  --success: #006837;
  --danger: #C1272D;

}